[submodule "games/PSoXide"]
	path = games/PSoXide
	url = https://github.com/EBonura/PSoXide.git
[submodule "games/hl-psx"]
	path = games/hl-psx
	url = https://github.com/EBonura/hl-psx.git
[submodule "games/pico8-psx"]
	path = games/pico8-psx
	url = https://github.com/EBonura/celeste-collection-psx.git
[submodule "games/voxide"]
	path = games/voxide
	url = https://github.com/EBonura/voxide.git
[submodule "games/gh-psx"]
	path = games/gh-psx
	url = https://github.com/EBonura/gh-psx.git
[submodule "games/psxcel"]
	path = games/psxcel
	url = https://github.com/EBonura/psxcel.git
[submodule "games/nitroxide"]
	path = games/nitroxide
	url = https://github.com/EBonura/nitroxide.git
[submodule "games/psoxide-arcade"]
	path = games/psoxide-arcade
	url = https://github.com/EBonura/psoxide-arcade.git
[submodule "games/PSoXide-editor"]
	path = games/PSoXide-editor
	url = https://github.com/EBonura/PSoXide-editor.git
[submodule "games/PSoXide-emulator"]
	path = games/PSoXide-emulator
	url = https://github.com/EBonura/PSoXide-emulator.git
[submodule "games/PSoXide-sdk"]
	path = games/PSoXide-sdk
	url = https://github.com/EBonura/PSoXide.git
